#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Outfit', arial, helvetica, sans-serif;
  background: url('./assets/img/sunset.jpg') no-repeat center center/cover;
}

p {
  font-size: 1.6rem;
  color: rgba(4, 10, 68, 0.911);
  font-weight: 700;
}

h1{
  font-size: 2rem;
  color:blue;
}

h2{
  font-size: 2rem;
  color:rgb(4, 12, 90);
}

h3{
  font-size: 1.6rem;
  color: rgb(74, 11, 221);
  font-weight: 700;
}

.App:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.App .title{
  color: orange;
  font-weight: 700;
}

.App .elegir {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: black;
  justify-items: space-between;
  margin: 1rem auto;
}

.App .elegir::before{
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.App .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.App .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.App .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.3);
}

.bold {
  font-weight: 700;
  color: orangered;

}

.App .search {
  text-align: center;
  padding: 1rem;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
